@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Poppins, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

.wrapper {
  background: #4a2800;
  background: linear-gradient(
    90deg,
    rgba(74, 40, 0, 1) 0%,
    rgba(0, 0, 0, 1) 9%
  );
}

.container {
  width: 1400px;
  margin: 0 auto;
}

header {
  padding: 50, 0;
}

header > span {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
}

header > nav {
  float: right;
  width: 50%;
}

header > nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header > nav > ul > li {
  display: inline-block;
}

header > nav > ul > li > a {
  color: white;
}

header > nav > ul > li > a:hover {
  border-bottom: 5px solid #dc7000;
}

header > nav > ul > li > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa9021;
  color: #fff;
  font-size: 13px;
  font-family: Poppins, sans-serif;
  border-radius: 6px;
  height: 41px;
  width: 132px;
  border: none;
  cursor: pointer;
}

header > nav > ul > li > button:hover {
  background-color: #c91010;
  transition: all 500ms ease;
}
