@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

.wrapper {
  background: #4a2800;
  background: linear-gradient(
    90deg,
    rgba(74, 40, 0, 1) 0%,
    rgba(0, 0, 0, 1) 9%
  );
}

.container {
  width: 1400px;
  margin: 0 auto;
}

header {
  padding: 50px 0;
}

header > span {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
}

header > nav {
  float: right;
  width: 50%;
}

header > nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

header > nav > ul > li {
  display: inline-block;
}

header > nav > ul > li > a {
  color: white;
}

header > nav > ul > li > a:hover {
  border-bottom: 5px solid #dc7000;
}

header > nav > ul > li > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa9021;
  color: #fff;
  font-size: 13px;
  font-family: Poppins, sans-serif;
  border-radius: 6px;
  height: 41px;
  width: 132px;
  border: none;
  cursor: pointer;
}

header > nav > ul > li > button:hover {
  background-color: #c91010;
  transition: all 500ms ease;
  transform: scale(1.1);
}

.hero--container {
  padding-bottom: 100px;
  width: 1400px;
  margin: 0 auto;
  z-index: 1;
}

.hero--info {
  padding-top: 70px;
  width: 530px;
}

.hero--info > h2 {
  font-size: 20px;
  font-weight: 700px;
  font-family: Poppins, sans-serif;
  color: #e87d0e;
}

.hero--info > h1 {
  font-size: 40px;
  font-weight: 700px;
  font-family: Poppins, sans-serif;
  color: white;
}

.hero--info > p {
  font-size: 16px;
  font-weight: 500px;
  font-family: Poppins, sans-serif;
  color: white;
  margin: 30px 0px;
}

.btn {
  background-color: #e87d0e;
  height: 53px;
  width: 195px;
  border-radius: 40px;
  margin-top: 20px;
  padding: 15px 30px;
  border: 0px;
}

.btn:hover {
  background-color: #c91010;
  transform: scale(1.1);
  transition: all 500ms ease;
}

.hero--container .joy_stick {
  position: absolute;
  top: -50px;
  right: 0;
}

.hero--container .unity {
  margin-top: 50px;
  justify-content: center;
}

/* Секция с играми */
.trending.containe {
  padding-top: 150px;
}

.trending.container a {
  display: inline-block;
  background-color: #e87d0e;
  height: 57px;
  width: 139px;
  border-radius: 40px;
  text-align: left;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  align-self: flex-start;
  left: 1184px;
  top: 880px;
  position: absolute;
  color: white;
  border-style: hidden;
  outline: none;
  width: 120px;
  cursor: pointer;
  padding: 12px 23px;
}

.trending.container a:hover {
  background-color: #c91010;
  transform: scale(1.1);
  transition: all 500ms ease;
}

.trending.container h2 {
  font-weight: 700;
  font-size: 31px;
}
.block {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
}

.block span {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.fire-icon {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.container-big-text {
  max-width: 800px;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
}

.container-banner {
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.container-banner h3 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container-banner p {
  line-height: 170%;
  max-width: 800px;
  margin-bottom: 20px;
}

.container-banner img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 100%;
}
